#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 576px) {
  #wrapper {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  #wrapper {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  #wrapper {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  #wrapper {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  #wrapper {
    max-width: 1320px;
  }
}

#wrapper a {
  color: #61ac4c;
}
#wrapper .fa-custom {
  text-shadow: 2px 2px 2px #3b3b3b;
  font-size: 5em;
}
@media only screen and (max-width: 720px) {
  #wrapper .fa-custom {
    font-size: 4em;
  }
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#store-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}
#store-header h1,
h2 {
  margin: 0.5vh 0;
  text-shadow: 2px 2px 4px #000000;
  color: #eee;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
#store-header h1 {
  font-size: 3em;
}
#store-header h2 {
  font-size: 1.75em;
}
/* Desktop */
/* #content {
  width: 40vw;
} */

/* Mid-sized devices */
/* @media (max-width: 1000px) {
  #content {
    width: 70%;
  }
  .custom-container {
    width: 70%;
  }
} */

/* Mobile */
/* @media (max-width: 500px) {
  
  #content {
    width: 95%;
  }
  .custom-container {
    width: 95%;
  }
} */

.footer-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 2em;
  max-width: 50em;
}
.footer-bar a {
  color: #61ac4c;
}
.footer-bar .fa-custom {
  text-shadow: 2px 2px 2px #3b3b3b;
  font-size: 5em;
}
@media only screen and (max-width: 720px) {
  .footer-bar .fa-custom {
    font-size: 4em;
  }
}
