#logo-container,
#logo-container h1,
#logo-container img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#logo-container h1 img {
  width: 25vw;
  min-width: 6em;
}
@media only screen and (max-width: 720px) {
  #logo-container h1 img {
    width: 60vw;
  }
}

.logo {
  transform: scale(1);
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
